<?xml version="1.0"?>
<ruleset name="SooCool for WooCommerce">
	<description>WordPress Coding Standards configuration for SooCool for WooCommerce.</description>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="4"/>
	<arg value="ps"/>

	<file>soocool-for-woocommerce.php</file>
	<file>src</file>
	<file>uninstall.php</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>assets/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.5"/>
	<config name="testVersion" value="8.1-"/>
	<config name="text_domain" value="soocool-for-woocommerce"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="soocool-for-woocommerce"/>
		</properties>
	</rule>
</ruleset>
